<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.bookmarkboard.mapper.FolderLikeMapper">
    <select id="getCountByFolderIdAndUserId" parameterType="com.project.bookmarkboard.dto.FolderLikeDTO" resultType="int">
        SELECT count(*) FROM folder_like WHERE folder_id = #{folderId} AND user_id = #{userId}
    </select>

    <select id="getCountByFolderIdAndUserId" parameterType="com.project.bookmarkboard.dto.FolderLikeDTO">
        SELECT * FROM folder_like WHERE user_id = #{userId}
    </select>

    <insert id="insertFolderLike" parameterType="com.project.bookmarkboard.dto.FolderLikeDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO folder_like(`user_id`, `folder_id`)
        VALUES(#{userId}, #{folderId})
    </insert>

    <delete id="deleteFolderLikeById">
        DELETE FROM folder_like WHERE id = #{id};
    </delete>
</mapper>