<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.bookmarkboard.mapper.UserMapper">
    <select id="countByNickname" parameterType="String" resultType="int">
        SELECT count(*) FROM user
        WHERE nickname = #{nickname}
    </select>

    <select id="findByUsername" parameterType="String" resultType="com.project.bookmarkboard.dto.User">
        SELECT * FROM user
        WHERE username = #{username}
    </select>

    <select id="findByInternalId" parameterType="long" resultType="com.project.bookmarkboard.dto.User">
        SELECT * FROM user
        WHERE internal_id = #{internalId}
    </select>

    <select id="countByUsername" parameterType="String" resultType="int">
        SELECT count(*) FROM user
        WHERE username = #{username}
    </select>

    <select id="countByEmail" parameterType="String" resultType="int">
        SELECT count(*) FROM user
        WHERE email = #{email}
    </select>

    <insert id="insertUser" parameterType="com.project.bookmarkboard.dto.User"
            useGeneratedKeys="true" keyProperty="internalId">
        INSERT INTO user(`username`, `password`, `nickname`, `role`, `email`)
        VALUES(#{username}, #{password}, #{nickname}, #{role}, #{email})
    </insert>

    <update id="updateUser" parameterType="com.project.bookmarkboard.dto.User">
        UPDATE user
        SET username = #{username}, nickname = #{nickname}, email = #{email}
        <if test="password != null and !password.equals('')">
           , password = #{password}
        </if>
        WHERE internal_id = #{internalId}
    </update>

    <update id="updateProfileImageByInternalId" parameterType="com.project.bookmarkboard.dto.User">
        UPDATE user
        SET profile_image = #{profileImage}
        WHERE internal_id = #{internalId}
    </update>
</mapper>