html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    margin: auto;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
