
body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
}


@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.form-control-dark {
    color: #fff;
    background-color: #7559af93;
    border-color: #613cac38;
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}